<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jeff's Blog</title>
  </head>
  <body>
    <h1>Welcome to {{ name }}'s blog</h1>
    <p>The current day and time is {{ day }}.</p>
    <h3>What is a client?</h3>
    <p>A client is a program that someone can use to access the internet, such as Google Chrome or Mozilla Firefox.</p>
    <h3>What is a server?</h3>
    <p>A server is a computer that's connected to the internet and can serve up assets that are requested by a client.</p>
    <h3>What is an HTTP request?</h3>
    <p>An HTTP request is a request from one machine to another over the internet adhering to the specific HTTP protocol. General methods are GET (requesting data), POST (creating data), PATCH (to update data), PUT (to replace data), and DELETE (to delete data).</p>
    <h3>What is an HTTP response?</h3>
    <p>An HTTP response is a message from a server back to the client that requested it. The response will generally contain a response code indicating the status of the request, and sometimes a body describing what was done.</p>
    <h3>What is Django and why do we use it?</h3>
    <p>Django is a framework that allows use of some Python when creating websites, allowing more interactivity between the backend and the frontend.</p>
  </body>
</html>
