{% extends 'base.html' %}
{% block content %}
{% if request.user == article.user %}
  <p><a href="{% url 'edit_blog_post' id=article.pk %}">Edit Article</a></p>
{% endif %}
<h2 class='article-title'>{{ article }}</h2>
<p class='article-body'>{{ article.body }}</p>

{% if comments %}
<section class='comment-section'>
  <p class='comment-name-header'>Commenter</p>
  <p class='comment-message-header'>Message</p>
  {% for comment in article.comments.all %}
  <p class='comment-name'>{{ comment.name }}</p>
  <p class='comment-message'>{{ comment.message }}</p>
  {% endfor %}
</section>
{% endif %}

<section>
  <form action="{% url 'create_comment' %}" method="post">
  {% csrf_token %}
    <!-- <input type="hidden" name="article" value="{{ article.pk }}"> -->
    {{ form.as_p }}
      <!-- {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.message.label_tag }}
      {{ form.message }} -->
    <!-- <section  class='new-comment-section'>
      <section class='new-comment-name-section'>
        <label for="comment_name">
          <span>Name:</span>
          <br>
          <input type="text" name="comment_name" value="">
        </label>
      </section>
      <section class='new-comment-message-section'>
        <label for="comment_message">
          <span>Comment:</span>
          <br>
          <textarea name="comment_message" rows="8" cols="30"></textarea>
        </label>
      </section> -->
      <section class='button-section'>
        <button type="submit" name="button">Add Comment</button>
      </section>
    </section>
  </form>
</section>

<p class='home-link'><a href="{% url 'home' %}">Home</a></p>
{% endblock %}
