* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-title {
  font-family: 'Crete Round', serif;
  color: #003E7E;
  font-weight: lighter;
  text-align: center;
}

.byline {
  font-size: 0.75em;
}

.article-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media (min-width: 700px) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 1000px) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.blog-article {
  padding: 0 20px;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.article-title {
  text-align: center;
}

.article-title a {
  text-decoration: none;
}

.article-title a:focus {
  color: green;
}

.article-title a:hover {
  color: #003E7E;
  text-decoration: underline;
}

.article-body {
  font-family: 'Mukta', sans-serif;
  margin: auto 10px;
  margin-top: 0;
  text-align: justify;
  margin-bottom: 20px;
}

.home-link {
  text-align: center;
}

.my-footer {
  font-family: 'Laila', serif;
  color: #003E7E;
  background-color: #f46842;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.comment-section {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 1fr;
}

.comment-name, .comment-name-header {
  grid-column: 2 / 3;
  border: 1px solid black;
  margin: 0;
}

.comment-message, .comment-message-header {
  grid-column: 3 / 4;
  border: 1px solid black;
  margin: 0;
}

.comment-name-header, .comment-message-header {
  font-weight: bold;
}

.new-comment-section {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.new-comment-name-section {
  grid-column: 2 / 3;
}

.new-comment-message-section {
  grid-column: 3 / 4;
}

.button-section {
  grid-column: 2 / 4;
  justify-self: center;
}
